body{
 font-family: Arial, Helvetica, sans-serif;
 mangin: 0;
 padding: 0;
}

header{
    background-color: #ffffff;
    color: write;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: hsl(194, 100%, 84%);
    padding: 10px;
    text-align: center;
}

nav a {
    color: write;
    text-decoration: none;
    margin: 0% 10px;
}

main{
    padding: 20px;
}
#sobre{
    background-color: rgb(255, 255, 255);
}

.bg-color{
    background-color: rgb(255, 255, 255);
}

section{
    margin-bottom: 30px;
    padding: 15px;
    border: 10px solid #ffe1f4;
}
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
